.container {
  text-align: center;
  width: 100vw;
  height: 100vh;
  padding-top: 10rem;
}

.App {
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 2rem;
  width: 55rem;
  margin: 2rem auto;
  border-radius: 16px;
}
@media screen and (max-width: 600px) {
  .App {
    width: 50rem;
    padding: 0;
  }
}
.darkAppContainer {
  @extend .container;

  background: url("./assets/dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .App {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
}

.lightAppContainer {
  @extend .container;
  background: url("./assets/light.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .App {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
}
